[package]
name = "molten-ui"
version = "0.1.0"
edition = "2024"

[dependencies]

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "rsdemo"

[build-dependencies]
bindgen = "0.72.1"
cmake = "0.1"

